.container {
  margin: 0 auto;
  padding: 0 $container-padding;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width:  map-get($container-breakpoints, sm);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: map-get($container-breakpoints, md);
  }

}

@media (min-width: 992px) {
  .container {
    max-width: map-get($container-breakpoints, lg);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: map-get($container-breakpoints, xl);
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: map-get($container-breakpoints, xxl);
  }
}